<!DOCTYPE html>
<html lang="cs_CZ">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Tvoření</title>
    <style>
      body {
        max-width: 1024px;
        margin: 0 auto;
        padding: 0 0.5rem;
        background-color: #dbb6f0;
        font-family: sans-serif;
        color: #7209db;
      }
      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: scale-down;
      }
    </style>
  </head>
  <body>
    <!-- content:body -->
  </body>
</html>
